<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407348698503-p7lpbvqfe4q0m6nij83k1ft2equeq3p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407348698503-p7lpbvqfe4q0m6nij83k1ft2equeq3p4</string>
	<key>API_KEY</key>
	<string>AIzaSyDLuDfH3ugRq7CDJhvg4fcX5UTTStqEA2I</string>
	<key>GCM_SENDER_ID</key>
	<string>407348698503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KirillSytkov.swiftui.YourChat</string>
	<key>PROJECT_ID</key>
	<string>yourchat-58f3b</string>
	<key>STORAGE_BUCKET</key>
	<string>yourchat-58f3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407348698503:ios:8312314339880c08c6c722</string>
</dict>
</plist>